* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
}

.row {
    width: 75%;
}

.container {
    max-width: 100%;
}

/* NAVIGATION */

.nav__container {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 330px;
    background-image: url("./assets/mastertux-filmstrip-7714683_1920.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.search__bar--header::after {
    content: "Browse Our Movies";
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
}
.search__bar::after {
    content: "I am a search bar.";
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav__title,
.nav__links {
    color: white;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    padding: 0; /* dummy data to silence red highlightings, fix links later */
}

/* MOVIES SECTION */

.movies__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.movies__search-header {
    padding: 32px 0;
}
