* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
}

body {
    display: flex;min-height: 100vh;flex-direction: column;
}

.body-content {
    flex: 1;
}

.row {
    width: 75%;
}

.container {
    max-width: 100%;
}

.btn {
    cursor: pointer;
}

img {
    width: 400px;
    /* object-fit: contain; /* maybe use this if needed for scaling resolutions*/
}

.hamburger__menu {
    background-color: rgb(0, 128, 255);
    text-align: center;
    font-size: 30px;
    color: white;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: black; /* test colors */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu--open .menu__backdrop {
    display: flex;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.menu__list {
    padding: 16px 0;
}

.menu__link {
    font-size: 32px;
    text-decoration: none;
    color: white;
}

.hamburger__menu--close {
    position: absolute;
    top: 20px;
    right: 20px;
}

/* NAVIGATION */

.nav__container {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 330px;
    background-image: url("./assets/mastertux-filmstrip-7714683_1920.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.search__bar--header::after {
    content: "Browse Our Movies";
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
}

#search__bar--form {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.nav__title,
.nav__links {
    color: white;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin: 8px 8px;
}

.nav__link--button {
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    color: rgb(0, 128, 255);
    font-weight: 700;
}

#search__bar--input {
    border-radius: 10px;
    padding: 8px;
}

.search__button {
    background-color: rgb(0, 128, 255);
    color:white;
    padding: 4px;
    border-radius: 10px;
}

/* MOVIES SECTION */

.movies__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.movies__search-header {
    margin: 0 auto;
    transform: translateX(100px);
    padding: 40px 0;
}

#dropdown__sort--bar {
    margin-right: 60px;
}

.movie__container--list {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.movie {
    text-align: center;
    width: calc(100% / 3);
    margin: 32px 0;
}

.loading__list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 60px;
    color:blue;
}

.movie__spinner--loading {
    display: none !important;
}

.loading__list .movie__spinner--loading {
    display: block !important;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 128, 255);
    height: 100px;
    text-align: center;
}







/* 1024px Resolution */

@media (max-width: 1024px) {
    .movie {
        width: calc(100% / 2);
    }
    .search__bar--header::after {
        text-align: center;
    }
}

/* 768px Resolution */

/* hamburger menu */
@media (max-width: 768px) {
    .movie {
        width: 100%;
    }
    .nav__links {
        display: none;
    }
    .hamburger__menu {
        display: block;
    }
    .movies__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movies__search-header {
        transform: none;
    }
    #dropdown__sort--bar {
        margin-right: 0;
        margin-bottom: 48px;
    }

}


/* 550px */

@media (max-width: 550px) {
    #search__bar--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #search__bar--input {
        margin: 12px 0;
    }

}