* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
}

.row {
    width: 75%;
}

.container {
    max-width: 100%;
}

.btn {
    cursor: pointer;
}

img {
    width: 300px;
    height: 300px;
}

/* NAVIGATION */

.nav__container {
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 330px;
    background-image: url("./assets/mastertux-filmstrip-7714683_1920.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.search__bar--header::after {
    content: "Browse Our Movies";
    color: white;
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
}

#search__bar--form {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.nav__title,
.nav__links {
    color: white;
}

.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__links {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link {
    margin: 8px 8px;
}

.nav__link--button {
    background-color: white;
    padding: 8px;
    border-radius: 20px;
    color: rgb(0, 128, 255);
    font-weight: 700;
}

#search__bar--input {
    border-radius: 10px;
    padding: 8px;
}

.search__button {
    background-color: rgb(0, 128, 255);
    color:white;
    padding: 4px;
    border-radius: 10px;
}

/* MOVIES SECTION */

.movies__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies__search-header {
    padding: 32px 0;
}


.movie__container--list {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.movie {
    text-align: center;
    width: calc(100% / 3);
    margin: 32px 0;
}

.loading__list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    padding-top: 60px;
    color:blue;
}

.movie__spinner--loading {
    display: none !important;
}

.loading__list .movie__spinner--loading {
    display: block !important;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}